@import "variables.css";

body.home {
	background-image: none;
}

.bg2 {
	background-color: $backgroundTint2;
}

@media screen and (min-width: 840px) {
   .img-container {
		height: 60vh;
	}
  section#hero {
    height: 95vh;
  }

}

@media screen and (max-width: 840px) {
   .img-container {
		height: 40vh;
	}
  section#hero {
    height: 80vh;
  }

}

/*
 * Page structures
 */
section#hero, section#about-us {
	display: flex;
}

.hero-picture {
	position: relative;

	.img-container {
		background-image: url(../images/reach_site_view.png);
		background-repeat: no-repeat;
		background-size: 100%;
		box-shadow: inset 0 -100px 20px -25px $backgroundTint1,
		            10px -10px 10px -15px black,
		            -10px -10px 10px -15px black;
	}
}

section#hero {
  background-color: $backgroundTint2;
  background-image: linear-gradient(-177deg, $backgroundTint2 70%, $backgroundTint1 calc(70% + 2px));
  color: white;
}

section#hero h1 {
  font-family: Wellcome, Helvetica, Arial, sans-serif;
}

#hero-arrow {
  position: absolute;
  bottom:20px;
}


section#about-reach {
	background-image: url(../images/Shape_01.svg);
	background-repeat: no-repeat;
	background-size: cover;

	a {
		font-size: $baseFontSize;
	}
}

section#about-us {
	background-image: url(../images/Shape_02.svg);
	background-repeat: no-repeat;
	background-size: cover;
}
