.icn.icn-search::before {
	color: white;
	fill: white;
	margin-bottom: -10px;
	content: url(../images/Icon_Search_16px.svg);
}

.icn.icn-download::before {
	color: white;
	fill: white;
	margin-bottom: -4px;
	content: url(../images/Icon_Download_16px.svg);
}

.icn.icn-research-paper::before {
	color: black;
	fill: black;
	margin-bottom: -4px;
	content: url(../images/Icon_Research_24px.svg);
}

.icn.icn-sort {
	color: grey;
	fill: grey;
    margin-bottom: -2px;
	content: url(../images/Icon_Chevron_Double.svg);
}

.icn.icn-sorted {
    margin-bottom: -4px;
    margin-left: 4px;
    content: url(../images/Icon_Arrow_down.svg);
}

.icn.icn-sorted-asc {
    transform: rotate(180deg);
}

.icn.icn-info {
    margin-bottom: -4px;
    margin-right: 4px;
	content: url(../images/Icon_Info.svg);
}
