{
    presets: [[
        "@babel/preset-env",
        {
            forceAllTransforms: true,
            debug: true,
            useBuiltIns: "entry",
            modules: "commonjs",
            targets: "> 0.25%, ie 11, not dead",
            corejs: { version: 3, proposals: true}
        }
    ]],
    plugins: [
        "@babel/plugin-transform-arrow-functions",
        "@babel/plugin-transform-for-of",
        "@babel/plugin-transform-typeof-symbol"
    ]

}
