**/*.pyc
**/__pycache__/*
.git
.gitignore
.idea

Dockerfile

reach/attic

build/*
!build/web/static

reach/refparse/algo_evaluation/data_evaluate/*
**/node_modules

docs
pull_request_template.md
CONTRIBUTING.md
