**/*.pyc
**/__pycache__/*
.git
.gitignore
.idea
.pytest_cache

Dockerfile

__attic__

argo

web/build/web/static/*

reach/refparse/algo_evaluation/data_evaluate/*

env
docs
pull_request_template.md
CONTRIBUTING.md

web/node_modules/*
web/package.json
web/package-lock.json
