*.pyc
*__pycache__
*.DS_Store
.idea
build/*
*.egg-info
**/.cache/*
*.csv
*.json
!package.json
*.pdf
*.txt
!**/requirements.txt
*.png
!Image_Product-shot.png
!package.json
**/node_modules
local/*
**/epmc-metadata.json.gz
