*.pyc
*__pycache__
*.DS_Store
.idea

*.egg-info
**/.cache/*

*.csv
*.pdf
*.txt

!package.json
!base/tests/pdfs/*
!keywords.txt
!section_keywords.txt
!**/requirements.*

**/node_modules
**/epmc-metadata.json.gz
*env

argo/secrets/minikube/argo/aws/*
!argo/secrets/minikube/argo/aws/.gitkeep

web/build/web/static/*
!web/build/web/static/.gitkeep
venv
.env
package.lock
web/config/dev.config.toml
