version: '3.4'
# This will handle the deployment of a local web application, postgresql
# database and elasticsearch single-node cluster

services:
    postgres:
        image: postgres:11.2-alpine
        ports:
          - 127.0.0.1:5432:5432
        environment:
          POSTGRES_PASSWORD: development
        deploy:
          resources:
            limits:
              memory: "64M"

    web:
      build:
          context: ./web
          dockerfile: Dockerfile
      image: uk.ac.wellcome/reach/web:latest
      ports:
        - 127.0.0.1:8081:8081
      environment:
        AWS_ACCESS_KEY_ID: "${AWS_ACCESS_KEY_ID}"
        AWS_SECRET_ACCESS_KEY: "${AWS_SECRET_ACCESS_KEY}"
        SENTRY_DSN: "${SENTRY_DSN}"
        STATIC_ROOT: /opt/reach/build/web/static
        DOCS_STATIC_ROOT: /opt/reach/web/docs/build/html/_static
        DATABASE_URL: "postgresql://postgres:development@postgres:5432/reach"

      command:
        - gunicorn
        - --bind=0.0.0.0:8081
        - --reload
        - web.wsgi:application
      volumes:
        - ./web/app:/opt/reach/web/
        - ./web/build/web:/opt/reach/build/web
      depends_on: ['elasticsearch']
      deploy:
        resources:
          limits:
            memory: "64M"

    # Build static assets whenever they change, and save them into
    # the STATIC_ROOT used by the web service above.
    gulp-watch:
      build:
          context: ./web
          dockerfile: Dockerfile.node
      image: reach-web-build:latest
      command:
        - gulp
        - watch
      volumes:
        - ./web/build/web/static:/opt/reach/build/web/static
        - ./web/gulpfile.js:/opt/reach/build/web/gulpfile.js
        - ./web/app/src:/opt/reach/build/web/src
      # Signal handling in gulp? Not so much...
      stop_signal: SIGKILL
      deploy:
        resources:
          limits:
            memory: "96M"

volumes:
  esdata:
    driver: local
