[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
sklearn = "*"
xlrd = "*"
"boto3" = "*"
botocore = "*"
"psycopg2-binary" = "*"
SQLAlchemy = "*"

[dev-packages]

[requires]
python_version = "3.6"
