asn1crypto==0.23.0
attrs==17.3.0
Automat==0.6.0
bitarray==0.8.1
botocore==1.8.11
cffi==1.11.2
chardet==3.0.4
constantly==15.1.0
cryptography==2.1.4
cssselect==1.0.1
docutils==0.14
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
jmespath==0.9.3
lxml==4.1.1
parsel==1.2.0
pdfminer.six==20170720
pyasn1==0.4.2
pyasn1-modules==0.2.1
pybloom-live==2.3.1
pycparser==2.18
pycryptodome==3.4.7
PyDispatcher==2.0.5
pyOpenSSL==17.5.0
python-dateutil==2.6.1
queuelib==1.4.2
Scrapy==1.4.0
service-identity==17.0.0
six==1.11.0
Twisted==17.9.0
w3lib==1.18.0
zope.interface==4.4.3
