apache-airflow[crypto]
beautifulsoup4
boto3
cryptography
celery
editdistance
elasticsearch
falcon
numpy
pandas
psycopg2-binary
pyahocorasick
PyJWT
redis
requests
scipy
Scrapy
scikit-learn
sentry-sdk
SQLAlchemy
Unidecode
