{% extends 'base.html' %}

{% block main %}


<section id="hero">
  <div class="container">
    <div class="columns">
      <div class="column col-4 col-md-12">
        <h1>Explore the reach of scientific research in policy making</h1>
      </div>
      <div class="column col-1 hide-md"></div>
      <div class="column col-3 col-md-12">
        <h3>Find research publications cited by Policy Docs</h3>
        <p>We use software and machine learning to find where research publications have been cited in policy documents.</p>
        <div class="buttons">
          <a class="btn btn-primary hero-button" href="#">
              Search citations in Policy Documents <i class="icon icon-arrow-right"></i></a>
        </div>
      </div>

      <div class="column col-1 hide-md"></div>

      <div class="column col-3 col-md-12">
        <h3>Search through Policy Documents</h3>
        <p>We have pulled in the PDFs of UNICEF, MSF, NICE, WHO and the UK Parliament. Our tool allows you to search across these documents.</p>
        <div class="buttons">
          <a class="btn btn-primary hero-button" href="/search">
            Search through Policy Documents <i class="icon icon-arrow-right"></i></a>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>


<section id="about-tool">
    <div class="container">
        <div class="columns">
            <div class="column col-12">
                <h3>About the Policy Tool</h3>
            </div>
          <div class="column col-6">
            <b>Policy Tool</b> makes it easier to track how life science research translates into policy and
            practice.
          </div>
        </div>
    </div>
</section>

<section id="how">
    <div class="container">
        <div class="columns">
            <div class="column col-12">
                <h3>How the algorithme works</h3>
            </div>
        </div>
    </div>
</section>

<section id="about-us">
    <div class="container">
        <div class="columns">
            <div class="column col-12">
                <h3>How the algorithme works</h3>
            </div>
        </div>
    </div>
</section>
{% endblock %}
