{% extends 'base.html' %}

{% block main %}


<section id="hero">
  <div class="container">
    <div class="columns">
      <div class="column col-5 col-md-12">
        <h1>Explore the reach of scientific research in policy making</h1>
      </div>
      <div class="column col-3 col-md-12">
            <div class="buttons">
              <a class="btn btn-primary btn-lg text-large text-bold" href="/search">
                Search citations in Policy Documents</a>
              <div class="popover popover-bottom">
                <span class="btn help">?</span>
                <div class="popover-container">
                  <div class="card">
                    {{ uparrow() }}
                    <div class="card-body">
                      Policy tool tracks where scientific publications are being cited in
                      the policy documents of major organizations such as the WHO and MSF. Click
                      this button to search citations of scientific publications made in policy documents.
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
      <div class="col-1 col-md-12"></div>
      <div class="col-3 col-md-12">
        <div class="buttons">
          <a class="btn btn-primary btn-lg text-large text-bold" href="#">
            Search through Policy Documents</a>
          <div class="popover popover-bottom">
            <span class="btn help">?</span>
            <div class="popover-container">
              <div class="card">
                {{ uparrow() }}
                <div class="card-body">
                  Policy tool regularly loads the PDFs of WHO, MSF, UNICEF, NICE, and other
                  organizations. Click this button to search the text of these documents.
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      </div>
    </div>
  </div>
</section>


<main>
    <div class="container">
        <div class="columns">
          <div class="column col-6">
            <b>Policy Tool</b> makes it easier to track how life science research translates into policy and
            practice.
          </div>
        </div>
    </div>
</main>
{% endblock %}
