{% extends 'base.html' %}

{% block header %}

<header class="navbar">
  <section class="navbar-section">
    <a href="/" class="navbar-brand"><img src="/static/images/reach_alpha_branding.svg" alt=""></a>
  </section>
  <section class="navbar-section hide-md" id="navbar-links">
    <a href="/about" class="a-light active">About Reach</a>
    <a href="/how-it-works" class="a-light">How Reach works</a>
    <a href="/search/citations" class="a-light">Discover citations</a>
    <a href="/search/policy-docs" class="a-light">Browse policy documents</a>
  </section>
</header>

{% endblock %}

{% block main %}

<section id="breadcrumbs">
	<div class="breadcrumb-box">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item">About Reach</li>
    </ul>
	</div>
</section>

<section id="about-page">
    <div class="container">
      <hr class="fs">
      <div class="columns">
        <div class="column col-3 hide-md"></div>
        <div class="column col-6 col-md-12 text-center">
          <h1>About Reach</h1>
          <hr class="hs">
          <h3>Reach was developed to help researchers, policy makers and funders to better understand how scientific research is used in policy.</h3>
          <hr class="hs">
        </div>
        <div class="column col-3 hide-md"></div>
      </div>
      <hr class="fs">
      <div class="columns">
        <div class="column col-4 col-md-12">
          <div class="text-center"><h3 class="category-title">What is the focus of Reach?</h3></div>
          <p>Reach was developed to improve understanding of the use of research in policy. We have chosen organisations that are influential health policy voices in the UK or at the global level.</p>
        </div>
        <div class="column col-4 col-md-12">
          <div class="text-center"><h3 class="category-title">What are the policy sources?</h3></div>
          <p>We source policy documents from UNICEF, Médecins Sans Frontières (MSF), National Institute of Clinical Excellence (NICE), the World Health Organisation (WHO), the UK government and the UK parliament. The documents include Reports, Health Technology Assessments, guidelines and position papers. If there are any sources you think are missing, please <a href="/contact">get in touch with the team</a>.</p>
        </div>
        <div class="column col-4 col-md-12">
          <div class="text-center"><h3 class="category-title">What are the scientific publications?</h3></div>
          <p>We use the <a href="https://europepmc.org/">EPMC database</a> to cross-reference the references that Reach finds in policy documents. If a paper is not in EPMC then it will not be reported by Reach even if it has been cited. <a href="/how-it-works">Click here to find more about How Reach Works</a>.</p>
        </div>
      </div>
      <hr class="fs">
      <div class="columns">
        <div class="column col-4 col-md-12">
          <div class="text-center">
            <img src="/static/images/Icon_About_Open-source_100px.svg" alt="">
            <h3 class="category-title">Open Source</h3>
          </div>
          <div class="text-left">
            <p>We are committed to making Reach an open source tool. Our entire code can be found on <a href="https://github.com/wellcometrust/reach" target="_blank">Github</a> and our <a href="/api/docs/">open API</a> gives you access to the data that powers Reach.</p>
          </div>
        </div>
        <div class="column col-4 col-md-12">
          <div class="text-center">
            <img src="/static/images/Icon_About_Accuracy_100px.svg" alt="">
            <h3 class="category-title">Accuracy</h3>
          </div>
          <div class="text-left">
            <p>Reach is powered by cutting edge machine learning techniques applied by the data scientists in Wellcome Data Labs. Machine learning is not 100% accurate because it is based on probability, but we are constantly working on Reach to improve its accuracy. If something doesn’t look quite right, please <a href="/contact">get in touch with the team</a>.</p>
          </div>
        </div>
        <div class="column col-4 col-md-12">
          <div class="text-center">
            <img src="/static/images/Icon_About_Transparent_100px.svg" alt="">
            <h3 class="category-title">Transparency</h3>
          </div>
          <div class="text-left">
            <p>We are committed to supporting responsible data innovation and product development. If you are interested in following our work, we publish regular blogs on
                <a href="https://medium.com/wellcome-data-labs"
             target="_blank"
             rel="noreferrer noopener">our Medium channel</a>.</p></div>
          </div>
      </div>
      <hr class="fs">
      <hr class="fs">
      <div class="columns">
     	  <div class="column col-3 hide-md"></div>
        <div class="column col-6 col-md-12 text-center">
         	<h1>About Wellcome Data Labs</h1>
         	<p>Wellcome Data Labs exists to enable responsible, data-driven decision making at Wellcome and in the wider research cuommunity. We build products, support data innovation in health and research, and blend technology social sciences approaches in our work.
         	</p>
         	<p>We’d love to hear from you. <a href="/contact">Get in touch via email</a>.</p>
        </div>
        <div class="column col-3 hide-md"></div>
      </div>
    </div>
</section>

{% endblock %}
