{% macro uparrow() -%}
<svg class="arrow" xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-triangle"
viewbox="0 0 100 100" preserveAspectRatio="none">
  <polygon points="0,100 50,0 100,100" fill="#fff"/>
</svg>
{%- endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wellcome Data Labs Reach</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon/manifest.json">


  {% if hotjar_code %}
  <!-- Hotjar Tracking Code for https://reach.wellcomedatalabs.org/ -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:{{ hotjar_code }},hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  {% endif %}

  {% if ga_code %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_code }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ ga_code }}');
  </script>
  {% endif %}

  {#- Cookies policy #}
  <link rel="stylesheet" type="text/css" href="//wpcc.io/lib/1.0.2/cookieconsent.min.css"/>
  <script src="//wpcc.io/lib/1.0.2/cookieconsent.min.js"></script>
  <script>window.addEventListener("load", function(){window.wpcc.init({"corners":"small","colors":{"popup":{"background":"#dcf4f9","text":"#000000","border":"#555555"},"button":{"background":"#006272","text":"#ffffff"}},"position":"bottom","content":{"href":"foo/bar"}})});</script>


  <script type="text/javascript" src="/static/js/main.js"></script>

{% block scripts %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">
  <div class="content">
    {#- The homepage need to override this header #}
    {% block header %}

    <header class="navbar">
      <section class="navbar-section">
        <a href="/" class="navbar-brand"><img src="/static/images/reach_alpha_branding.svg" alt=""></a>
      </section>
      <section class="navbar-section hide-md" id="navbar-links">
        <a href="/about" class="a-light">About Reach</a>
        <a href="/how-it-works" class="a-light">How Reach works</a>
        <a href="/search/citations" class="a-light">Discover citations</a>
        <a href="/search/policy-docs" class="a-light">Browse policy documents</a>
      </section>
    </header>

    {% endblock %}

    {% block main %}
    {% endblock %}
  </div>
  {% block footer %}
  <footer>
    <div class="container">
      <div class="columns">
        <div class="column col-10 col-lg-12">
          {#- from static/w-avatar-pitch-1.svg, minified by https://jakearchibald.github.io/svgomg/
              Originally from the EPS in the Team Drive, from Chloe, SVG by Inkscape
           #}
           <div id="wellcome-logo-container">
             <img src="/static/images/wellcome-logo.svg" alt="Wellcome's logo" id="wellcome-logo"/>
           </div>
          <p>Created by <a href="#">Data Labs</a> at <a href="https://www.wellcome.ac.uk">Wellcome</a></p>
        </div>
        <div class="column col-1 col-lg-6"><a href="/api/docs/"
          target="_blank"
          rel="noreferrer noopener"
        >Our API</a></div>
        <div class="column col-1 col-lg-6"><a href="https://github.com/wellcometrust/reach" target="_blank">Github&nbspRepo</a></div>
      </div>
    </div>
  </footer>
  {% endblock %}
</body>
</html>
