{% extends 'base.html' %}
{% set home = True %}

{% block bodyclass %}home{%endblock%}

{% block header %}
<div class="home-hero-view">

<section id="home-header">
  <header class="navbar home">
    <section class="navbar-section mr-2">
      <a href="/" class="navbar-brand"><img src="/static/images/reach_alpha_branding.svg" alt=""></a>
    </section>
    <section class="navbar-section hide-md" id="navbar-links">
      <a href="/about" class="a-light">About Reach</a>
      <a href="/how-it-works" class="a-light">How Reach works</a>
      <a href="/search/citations" class="btn cta-link">Discover citations</a>
      <a href="/search/policy-docs" class="btn cta-link">Browse policy documents</a>
    </section>
  </header>
</section>
{% endblock %}

{% block main %}
<section id="hero">
  <div class="container">
    <hr class="fs">
    <div class="columns">
      <div class="column col-3 hide-md"></div>
      <div class="column col-6 col-md-12 text-center">
        <h1>Explore the reach of scientific research in policy</h1>
      </div>
      <div class="column col-3 hide-md"></div>
      <hr class="fs">
      <div class="column col-12 text-center">
        <a class="btn btn-primary btn-round btn-xl" id="start-button">Get Started</a>
      </div>
    </div>
    <hr class="fs">
    <div class="columns" id="hero-picture-container">
      <div class="column col-2 hide-md"></div>
      <div class="column col-8  col-md-12">
          <div class="hero-picture text-center">
            <div class="img-container">
            </div>
          </div>
      </div>
      <div class="column col-2 hide-md"></div>
    </div>
  </div>
</section>
<section id="scroll-arrow">
  <div class="container">
    <div class="columns">
      <hr class="fs">
      <div class="column col-12 text-center" id="hero-arrow"><img src="/static/images/Icon_Scroll-arow.svg" alt=""></div>
    </div>
  </div>
</section>
</div>
<hr class="fs">
<hr class="fs">
<section id="search-reach">
    <div class="container">
      <div class="columns">
        <div class="column col-2 hide-lg"></div>
        <div class="column col-4 col-lg-12">
          <img src="/static/images/Illustration_Glass.svg" alt="">
        </div>
        <div class="column col-4 col-lg-12">
          <h4 id="discover-reach">Discover</h4>
          <h2>Find scientific publications that have been cited in policy documents</h2>
          <hr class="ms">
          <p>Reach uses machine learning to find where health policy organisations are using scientific research.</p>
          <hr class="ms">
          <a href="/search/citations" class="btn btn-primary btn-round btn-xl">Find citations</a>
        </div>
        <div class="column col-2 hide-lg"></div>
      </div>
      <hr class="fs">
      <div class="columns">
        <div class="column col-2 hide-lg"></div>
        <div class="column col-4 col-lg-12">
          <h4>Explore</h4>
          <h2>Browse over 129k policy documents produced by leading health policy organisations</h2>
          <hr class="ms">
          <p>Search through our collection of policy documents including guidelines, position papers and Health Technology Assessments.</p>
          <hr class="ms">
          <a href="/search/policy-docs" class="btn btn-primary btn-round btn-xl">Browse policy documents</a>
        </div>
        <div class="column col-4 col-lg-12">
          <img src="/static/images/Illustration_Papers.svg" alt="">
        </div>
        <div class="column col-2 hide-lg"></div>
      </div>
    </div>
</section>

<section id="about-reach">
    <div class="container">
      <hr class="fs">
      <hr class="fs">
      <div class="columns">
        <div class="column col-3 hide-md"></div>
        <div class="column col-6 col-md-12 text-center">
          <h4>About Reach</h4>
          <hr class="ms">
          <h3>Reach was developed to help researchers, policy makers and funders to better understand how scientific research is used in policy.</h3>
          <hr class="ms">
        </div>
        <div class="column col-3 hide-md"></div>
      </div>
      <div class="columns">
        <div class="column col-4 col-md-12">
          <div class="text-center">
            <img src="/static/images/Icon_About_Open-source_100px.svg" alt="">
            <hr class="hs">
            <h3>Open Source</h3>
          </div>
          <p>We are committed to making Reach an open source tool. Our entire code can be found on <a href="https://github.com/wellcometrust/reach"
       target="_blank"
       rel="noreferrer noopener">GitHub</a> and our open API gives you access to the data that powers Reach.</p>
        </div>
        <div class="column col-4 col-md-12">
          <div class="text-center">
            <img src="/static/images/Icon_About_Accuracy_100px.svg" alt="">
            <hr class="hs">
            <h3>Accuracy</h3>
          </div>
          <p>Reach is powered by cutting edge machine learning techniques applied by the data scientists in Wellcome Data Labs. Machine learning is not 100% accurate because it is based on probability, but we are constantly working on Reach to improve its accuracy. If something doesn’t look quite right, please <a href="/contact">get in touch with the team</a>.</p>
        </div>
        <div class="column col-4 col-md-12">
          <div class="text-center">
            <img src="/static/images/Icon_About_Transparent_100px.svg" alt="">
            <hr class="hs">
            <h3>Transparency</h3>
          </div>
          <p>We are committed to supporting responsible data innovation and product development. If you are interested in following our work, we publish regular blogs on
              <a href="https://medium.com/wellcome-data-labs"
           target="_blank"
           rel="noreferrer noopener">our Medium channel</a>.</p></div>
      </div>
      <hr class="hs">
      <div class="columns">
        <div class="column col-12 text-center">
          <a href="/about" class="btn btn-light btn-round btn-xl">Learn more about Reach</a>
        </div>
      </div>
    </div>
</section>

<section id="about-us" class="bg2">
  <div class="container">
    <hr class="fs">
    <hr class="fs">
    <div class="columns">
      <div class="column col-3 hide-md"></div>
      <div class="column col-6 col-md-12 text-center">
        <h4>How Reach works</h4>
        <hr class="hs">
        <h3>Reach uses machine learning to search through thousands of policy documents, extract the references and match them with scientific publications.</h3>
      </div>
      <div class="column col-3 hide-md"></div>
    </div>
    <hr class="hs">
    <div class="columns">
      <div class="column col-4 col-md-12">
        <div class="text-center">
          <img src="/static/images/Icon_How_Download_160px.svg" alt="">
          <hr class="hs">
          <h3>1. Download</h3>
        </div>
        <p>Reach downloads PDFs from the websites of leading health policy organisations.</p>
      </div>
      <div class="column col-4 col-md-12">
        <div class="text-center">
          <img src="/static/images/Icon_How_Extract_160px.svg" alt="">
          <hr class="hs">
          <h3>2. Extract</h3>
        </div>
        <p>An algorithm is used to extract references from the PDFs.</p>
      </div>
      <div class="column col-4 col-md-12">
        <div class="text-center">
          <img src="/static/images/Icon_How_Match_160px.svg" alt="">
          <hr class="hs">
          <h3>3. Match</h3>
        </div>
        <p>References are verified using a database of scientific publications.</p></div>
    </div>
    <hr class="fs">
    <div class="columns">
      <div class="column col-12 text-center">
        <a href="/how-it-works" class="btn btn-white btn-round btn-xl">How Reach works</a>
      </div>
    </div>
    <hr class="fs">
  </div>
</section>
{% endblock %}

{% block footer %}
<footer class="home">
  <div class="container">
    <div class="columns">
      <div class="column col-10 col-lg-12">
           <div id="wellcome-logo-container">
             <img src="/static/images/wellcome-logo.svg" alt="Wellcome's logo" id="wellcome-logo"/>
           </div>
          <p>Created by <a href="#">Data Labs</a> at <a href="https://www.wellcome.ac.uk">Wellcome</a></p>
        </div>
      <div class="column col-1"><a href="/api/docs/"
       target="_blank"
       rel="noreferrer noopener"
      >Our API</a></div>
      <div class="column col-1"><a href="https://github.com/wellcometrust/reach" target="_blank">GitHub&nbspRepo</a></div>
    </div>
  </div>
</footer>
{% endblock %}
