@import "variables.css";

footer {
  padding: 5rem 0;
  font-size: $smallFontSize;
  width: 100%;
}

footer.home {
  position: relative;
  background-color: white;
}

footer #wellcome-logo {
  height: 1.5em;
  width: 1.5em;
}

footer a{
	font-size: $smallFontSize;
}


/*  Offsets the grid */
@media screen and (min-width: 780px) {
	footer {
		text-align: left;
	}
}

@media screen and (max-width: 780px) {
	footer {
		text-align: center;
	}
}
