@import "variables.css";

.content.home {
	background-image: none;
}

.bg2 {
	background-color: $backgroundTint2;
}

@media screen and (min-width: 840px) {
   .img-container {
		height: 26rem;
	}
}

@media screen and (max-width: 840px) {
   .img-container {
		height: 13rem;
	}
}

/*
 * Page structures
 */

section#hero, section#about-us {
	display: flex;
}

.hero-picture {
	position: relative;

	.img-container {
		background-image: url(../images/Image_Product-shot.png);
		background-repeat: no-repeat;
		background-size: 100%;
		box-shadow: inset 0 -100px 20px -25px $backgroundTint1,
		            10px -10px 10px -15px black,
		            -10px -10px 10px -15px black;
	}
}

section#hero {
  background-color: $backgroundTint2;
  background-image: linear-gradient(-177deg, $backgroundTint2 70%, $backgroundTint1 calc(70% + 2px));
  color: white;
}

section#hero h1 {
  font-family: Wellcome;
}

section#hero .buttons {
  display: flex;

}

section#hero .btn-primary {
  background-color: $cyanPrimary;
  /* margin: 1ex 0.6em 1ex 0; */
}

section#about-reach {
	background-image: url(../images/Shape_01.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

section#about-us {
	background-image: url(../images/Shape_02.svg);
	background-repeat: no-repeat;
	background-size: cover;
}


