@import "variables.css";

.bg2 {
	background-color: $backgroundTint2;
}

/*
 * Page structures
 */

section#hero, section#about-us {
	display: flex;
}

section#hero {
  background-color: $backgroundTint2;
  background-image: linear-gradient(-177deg, $backgroundTint2 70%, $backgroundTint1 calc(70% + 2px));
  color: white;
}

section#hero h1 {
  font-family: Wellcome;
}

section#hero .buttons {
  display: flex;

}

section#hero .btn-primary {
  background-color: $cyanPrimary;
  /* margin: 1ex 0.6em 1ex 0; */
}

section#about-reach {
	background-image: url(../images/wave.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: bottom;
}

section#about-us {
	background-image: url(../images/white-wave.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: bottom;
}


