@import "variables.css";

.search-box {
    background: $backgroundTint1;
    border-top: 1px solid $greyDark;
    border-bottom: 1px solid $greyDark;
    padding: $mediumPadding 0;
}

.search-tips {
    margin: $mediumPadding 0;
}

.search-tips .btn.help {
  background-color: $cyanPrimary;
  margin-top: 0;
}

.insights {
    padding: $mediumPadding 0;
}
