{% extends 'base.html' %}

{% block main %}


<section id="hero">
  <div class="container">
    <div class="columns">
      <div class="column col-4 hide-md"></div>
      <div class="column col-4 col-md-12 text-center">
        <h1>Explore the reach of scientific research in policy</h1>
      </div>
      <div class="column col-4 hide-md"></div>
      <div class="column col-12 text-center">
        <button class="btn btn-primary btn-xl">Get Started</button>
      </div>
    </div>
    <div class="columns">
      <div class="column col-3 hide-md"></div>
      <div class="column col-6  col-md-12">
        <div class="hero-picture" style="background-color: red; height:400px">

        </div>
      </div>
      <div class="column col-3 hide-md"></div>
    </div>
    </div>
  </div>
</section>

<section id="search-reach">
    <div class="container">
        <div class="columns">
            <div class="column col-3 hide-md"></div>
            <div class="column col-6 col-md-12">
              <div class="container">
                <div class="columns">
                  <div class="column col-6 col-md-12">
                    [Nice picture]
                  </div>
                  <div class="column col-6 col-md-12">
                    <h4>Discover</h4>
                    <h3>Find how policy documnets are citing research publications</h3>
                    <p>We use software and machine learning to find where over 1.1 million research publications have been cited in policy documents.</p>
                    <a href="/search/citations" class="btn btn-primary btn-xl">Find citations</a>
                  </div>
                </div>
                <div class="columns">
                  <div class="column col-6 col-md-12">
                    <h4>Explore</h4>
                    <h3>Browse over 129k policy documents that are being used to influence policy</h3>
                    <p>Reach allows you to search through policy documents from a wide range of organisations including UNICEF, MSF, NICE, WHO and the UK Parliament.</p>
                    <a href="/search/policy-docs" class="btn btn-primary btn-xl">Browse policy documents</a>
                  </div>
                  <div class="column col-6 col-md-12">
                    [Nice picture]
                  </div>
                </div>
              </div>
            </div>
            <div class="column col-3 hide-md"></div>
        </div>
    </div>
</section>

<section id="about-reach">
    <div class="container">
        <div class="columns">
            <div class="column col-1 hide-md"></div>
            <div class="column col-10  col-md-12">
              <div class="container">
                <div class="columns">
                  <div class="column col-3 hide-md"></div>
                  <div class="column col-6 col-md-12 text-center">
                    <h4>About Reach</h4>
                    <h3>Reach aims to make it easier to track how scientific research influences policy and to analyse trends in the use of scientific research in policy.</h3>
                  </div>
                  <div class="column col-3 hide-md"></div>
                </div>
                <div class="columns">
                  <div class="column col-4 col-md-12">
                    [Nice picture]
                    <h3>Open Source</h3>
                    <p>Reach's code is entirely open sources! You can check it out on our <a href="https://github.com/wellcometrust/reach" target="_blank">Github Repository.</a></p>
                  </div>
                  <div class="column col-4 col-md-12">
                    [Nice picture]
                    <h3>Accuracy</h3>
                    <p>Reach uses software and machine learning to process thousands of policy documents. Machine learning is not 100% accurate as it is based on probability. We are constantly working on Reach to improve its accuracy. </p>
                  </div>
                  <div class="column col-4 col-md-12">
                    [Nice picture]
                    <h3>Transparency</h3>
                    <p>{{ lipsum(n=1, html=True, min=20, max=50) }}</p></div>
                </div>
                <div class="columns">
                  <div class="column col-12 text-center">
                    <a href="" class="btn btn-light btn-xl">Learn more about Reach</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="column col-1 hide-md"></div>
        </div>
    </div>
</section>
<section id="about-us" class="bg2">
  <div class="container">
    <div class="columns">
        <div class="column col-1 hide-md"></div>
        <div class="column col-10  col-md-12">
          <div class="container">
            <div class="columns">
              <div class="column col-3 hide-md"></div>
              <div class="column col-6 col-md-12 text-center">
                <h4>How Reach works</h4>
                <h3>Reach searches through thousands of policy documents, extracts the references, and checks them against scientific publications.</h3>
              </div>
              <div class="column col-3 hide-md"></div>
            </div>
            <div class="columns">
              <div class="column col-4 col-md-12">
                [Nice picture]
                <h3>1. Download</h3>
                <p>Reach downloads PDF from a number of organisation websites</p>
              </div>
              <div class="column col-4 col-md-12">
                [Nice picture]
                <h3>2. Extract</h3>
                <p>Using machine learning, the references from the PDF are extracted</p>
              </div>
              <div class="column col-4 col-md-12">
                [Nice picture]
                <h3>3. Match</h3>
                <p>The references are checked against the EPMC database of scientific publications</p></div>
            </div>
            <div class="columns">
              <div class="column col-12 text-center">
                <a href="" class="btn btn-white btn-xl">How Reach works</a>
              </div>
            </div>
          </div>
        </div>
        <div class="column col-1 hide-md"></div>
    </div>
  </div>
</section>
{% endblock %}
