$spectre_version: 0.5.8;
@import "vendor/spectre-$(spectre_version)/spectre.css";
@import "vendor/spectre-$(spectre_version)/spectre-icons.css";
@import "variables.css";
/* @import "vendor/spectre-$(spectre_version)/spectre-exp.css"; */

/*
 * Page specific file imports
 */

@import "search.css";



/*
 * Generic elements
 */

body {
  /* Brand guidelines say Helvetica Neue or Arial, but
   * we're using Spectre's default of:
   *
   *  -apple-system,
   *  system-ui,
   *  Segoe UI,
   *  Roboto,
   *  Ubuntu,
   *  Cantarell,
   *  Noto Sans,
   *  sans-serif,
   *  BlinkMacSystemFont,
   *  Helvetica Neue
   */
  color: $textColor;
  font-size: $baseFontSize;
  line-height: 2rem;
}

a, a:visited {
  text-decoration: underline;
  color: $linkBlue;
}

 a:hover {
     color: $linkBlueHover;
 }
h1, h2, h3, h4, h5, h6 {
    font-family: Wellcome;
}

h1 {
    font-size: $titleBigFontSize;
}

h3 {
    font-size: $titleFontSize;
}

/*  Offsets the grid */
@media screen and (min-width: 1280px) {
    .container {
      padding: 0 91px;
    }
}

@media screen and (max-width: 1280px) {
    .container {
      padding: 0 22px;
    }
}

.btn-primary {
  color: white;
}


/*
 * Page structures
 */

nav {
  color: white;
  background-color: $navColor;
  display: inline-block;
  font-family: Wellcome;
}

nav h3 {
  font-size: $titleFontSize;
  margin: $sectionPadding 0;
}

nav .column {
    padding: 0;
}

nav .columns {
  margin: 0;
}


nav ul li {
  list-style: none;
  display: inline;
  align-self: flex-end;
  margin: $sectionPadding 0;
}

section#hero {
  background-color: $buttonColor;
  color: white;
  padding: $heroPadding 0;
}

section#hero h1 {
  font-family: Wellcome;
}

/* */ section#hero .buttons {
  display: flex;
}

section#hero .btn-primary {
  background-color: $navColor;
  border: 1px solid $navColor;
  /* margin: 1ex 0.6em 1ex 0; */
}

.help {
  width: 22px;
  height: 22px;
  padding: 0;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
  line-height: 22px;
  text-align: center;
  background-color: $navColor;
  margin-top: 2.7ex;
}

section#hero a.btn-primary:hover,
section#hero .btn.help:hover {
  border: 1px solid $hoverBorderColor;
}

.hero-button {
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: $baseFontSize;
    padding: 0 $smallPadding;
}
.popover-container {
  display: block;
  opacity: 1;
  transform: translate(-50%, -100%) scale(1);
}

.popover-container svg.arrow {
  margin: -1em auto 0 auto;
  width: 2em;
  height: 1em;
}

.popover-container .card {
  color: $textColor;
}

#about-tool, #how, #about-us  {
  padding: $heroPadding 0;
  border-bottom: 1px solid $borderDark;
}

footer {
  padding: $sectionPadding 0;
  background-color: $footerColor;
}

footer svg#wellcomelogo {
  height: 1.6em;
  width: 1.6em;
  margin-bottom: -0.4em;
}
