@import "variables.css";

.search-box {
    background: $footerColor;
    border-top: 1px solid $borderDark;
    border-bottom: 1px solid $borderDark;
    padding: $sectionPadding 0;
}

.search-tips {
    margin: $sectionPadding 0;
}

.search-tips .btn.help {
  background-color: $linkBlue;
  margin-top: 0;
}

.insights {
    padding: $sectionPadding 0;
}
