@import "variables.css";

.learn-link a {
  letter-spacing: 0.5px !important;
}

.table-light {
  table-layout: fixed;
	border: 1px solid $greyLight;

  thead tr {
    background-color: white;

    th {
      font-size: .6875rem;
      letter-spacing: 0.7px;
      font-weight: 500;
      font-style: normal;
    }
  }

  tbody tr {
		background: white;
    height: 4.5rem;

    td {
      overflow: hidden;
      white-space: nowrap;
      padding: 0 15px;
      text-overflow: ellipsis;
    }
	}

	td, th {
		border-top: 1px solid $greyLight;
		border-bottom: 1px solid $greyLight;
	}

  tr:hover {
    td {
      background-color: $cyanFocused;
    }
  }

  .accordion-arrow {
  	color: $cyanPrimary;
  	font-weight: bold;
  	width: 3.5rem;
  	text-align: center;
  }

  .new-page-icon-cell {
    text-align: center;
  }

  .active-row {

    td {
    	background-color: $cyanFocused;
      overflow: visible;
      white-space: normal;
      text-overflow: visible;

      div {
        max-height: 500em;
      }
    }
  }


  .accordion-body:hover {
    td {
      background-color: $backgroundTint1;
    }
  }

  .accordion-subtable {
      table-layout: fixed;

  	tr td {
  		border: none;
  		background-color: $backgroundTint1;
      min-height: 3.5rem;
  	}

  	tr th{
  		border: none;
  		background-color: $backgroundTint1;
  	}
  }
}

#citations-result-table {
    tbody tr:nth-of-type(4n-1) {
        background-color: #f8f8f8;
    }
}

#citations-result-table.load, #policy-docs-result-table {
    tbody tr:nth-of-type(2n + 1) {
        background-color: #f8f8f8;
    }
}
.pages .page-item#active-page {
	color: $cyanPrimary;
  border-bottom: 1px solid $cyanPrimary;
  line-height: 1.5rem;
}

.pages {

    margin: 0;
    padding: 0;

    font-size: 14px;
    letter-spacing: 0.5px;

	li a {
		padding: 0.3rem;
		text-decoration: none;
	}

	.page-item, .disabled-page-item {
		cursor: pointer;
		padding: 0 2px;
		color: $cyanPrimary;
		display: inline-block;
    margin: 0 8px;

	}

  #page-previous, #page-next {
      border: 1px solid #ccc;
      border-radius: 2px;
      background-color: white;
      color: $cyanPrimary;
      font-size: $baseFontSize;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      height: 2.75rem;
      padding: 0 .75rem;
      text-align: center;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.75rem;
      letter-spacing: normal;
  }


	.disabled-page-item {
		color: #E6E6E6 !important;
    border-color: #E6E6E6 !important;

    .icn-chevron-righ, .icn-chevron-left {
      filter: invert(97%) sepia(8%) saturate(80%) hue-rotate(19deg) brightness(116%) contrast(80%);
    }
	}
}

.page-counter {
    font-size: .875rem;
    margin-left: 3.5rem;
    padding: 0 .4rem;
}

th {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
  color: $greyLink;

}

.table tr .accordion-subtable-container {
	background-color: $backgroundTint1;
	padding: 0;
	padding-left: 3.5rem;
}

#citations-results-tbody .hidden {
	display: none;
}

.results-filters, .results-pages {
    background-color: white;
    border: 1px solid $greyLight;
}

.results-pages {
    line-height: 4.75rem;
    min-height: 4.75rem;
}

.colgroup-accordion-col {
    width: 3.5rem;
}

.colgroup-small-col {
  /* width: 6.875rem; */
  width: 10%;
}
.colgroup-medium-col {
  /* width: 14.375rem; */
  width: 20%;
}
.colgroup-large-col {
  width: 40%;
}
.colgroup-xl-col {
  width: 70%;
}
.colgroup-subtable-col {
  width: 60%;
}

.table-header {
    display: flex;
    height: 100%;
    .table-header-text, .table-header-icon {
        display: inline-block;
    }

    .table-header-icon {
        line-height: 1.5rem;
        padding-top: 0.75rem;
    }
}

.load th {
    border-bottom-color: rgba(255, 255, 255, 0);
}

.progress-row, .progress-row th {
    margin: 0;
    padding: 0;
    border: 0;
    height: 2px;
    line-height: 2px;
    border-top-color: rgba(255, 255, 255, 0);
}

.fadein, .fadeout {
    visibility: collapse;
    -moz-transition: visibility 0.2s ease-in-out;
    -o-transition: visibility 0.2s ease-in-out;
    -webkit-transition: visibility 0.2s ease-in-out;
    transition: visibility 0.2s ease-in-out;

    div {
      max-height: 0;
      -moz-transition: max-height 0.5s ease-in-out;
      -o-transition: max-height 0.5s ease-in-out;
      -webkit-transition: max-height 0.5s ease-in-out;
      transition: max-height 0.5s ease-in-out;
    }
}
.fadein {
    visibility: visible;

    div {
      max-height: 500rem;
    }
}


.tips-title {
  font-weight: bold;
  font-size: 1rem;
}

.tips-list {
  li {
    margin-top: 1rem !important;
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    font-family: "Helvetica Neue", Helvetica, Arial;
  }
}
