{
  "presets": [
    ["@babel/preset-env", {
     "useBuiltIns": "entry",
     "targets": {
       "ie": "11",
       "esmodules": false
     },
     "loose": true,
     "corejs": "3.6"
    }
    ]
  ]
}
